mosquitto:
  # Enable the mosquitto service
  enabled; True

  # 'config' will be mapped directly into mosquitto.conf
  # (boolean values are lower-cased: e.g. True -> true as required by conf file format)
  config:
    bind_address: 0.0.0.0
    port: 1883
    persistence: True

    # Set to True to authenticate users.
    allow_anonymous: False

    # Default path to pwfile
    password_file: /etc/mosquitto/pwfile

  auth:
    # Contents of 'users' is written directly into the password_file
    # Omit 'users' if you wish to create it manually.
    # Generate entries with 'mosquitto_passwd' command.
    users: |
      alice:$6$2bgRqo43gDWCE34iong+Gn83ng34wNG4ng84nggNIN58n8hn5hfENHe5nge8ng5g/lgegon5eogneg%GNGIENGgn5igneoUSHFS+R5R==
      bob:$6$2z07aRKw1mL4RwnN$RmD+WARRg4ounj9KDOU1O4j7Gq8iBPWtAkCK7yL4yx0ZC5g/lwfLmLU5SlmGidTfPZD+ZavenXY5yUSHFS+8Sw==
